#tags{
  border:1px solid #ccc;
  padding:5px;
}
#tags > span{
  display:block;
  float:left;
  color:rgba(0, 0, 0, 0.71);
  background:rgba(128, 128, 128, 0.43);
  padding:5px;
  padding-right:25px;
  margin:4px;
}
#tags > span:hover{
  opacity:0.7;
}

#tags > span:focus{
  border: darkslateblue;
}

#tags > span:after{
 position: absolute;
 cursor:pointer;
 content: "x";
 background: #1B96B1;
 color: #fff;
 padding: 3px 5px;
 margin-left: 4px;
 font-size: 12px;
 font-weight: bolder;
}
#tags > input{
  border:0;
  margin:4px;
  padding:7px;
  width:auto;
}

input:focus {
    outline: none ;
}

.focusTag {
    border: solid 2px cornflowerblue;
}
.emailtag {
    margin: auto;
    width: 60%;
}
